html.theme-dark {
  --link-color: #FF0070;
  --footer-text-color: #db00ff;
  --heading-color: #FF0070;
  --decorative-rec-element-color: #FF0070;
  --decorative-rec-color: #FF0070;
  --menu-button-color: #ff0070;
  --menu-button-color-hover: #ff007066;
  --accent-color: #ff0070;
  --header-heading-color: #db00ff;
  --accent-color-background: #ff0070;
  --accent-text-color: #000028;
  --cover-image: url(/images/cover-image-dark.png);
}


@media (prefers-color-scheme: dark) {

  :root {
    --link-color: #FF0070;
    --footer-text-color: #db00ff;
    --heading-color: #FF0070;
    --decorative-rec-element-color: #FF0070;
    --decorative-rec-color: #FF0070;
    --menu-button-color: #ff0070;
    --menu-button-color-hover: #ff007066;
    --accent-color: #ff0070;
    --header-heading-color: #db00ff;
    --accent-color-background: #ff0070;
    --accent-text-color: #000028;
    --cover-image: url(/images/cover-image-dark.png);
  }
}