html.theme-light {
  --background-color: #FFF1F7;
  --accent-title-background-color: #FF8DCB;
  --link-color: #ff8dcb;
  --footer-text-color: #ffc2e6;
  --text-color: #353430;
  --heading-color: #353430;
  --decorative-rec-element-color: #353430;
  --decorative-rec-color: transparent;
  --button-active-color: #353430;
  --menu-button-color: #353430;
  --menu-button-color-hover: #32312d66;
  --accent-color: #ff8dcb;
  --header-heading-color: #ffc2e6;
  --accent-color-background: #FF8DCB;
  --accent-text-color: #353430;
  --cover-image: url(../images/cover-image-light.png);
}

@media (prefers-color-scheme: light) {

  :root {
    --background-color: #FFF1F7;
    --accent-title-background-color: #FF8DCB;
    --link-color: #ff8dcb;
    --footer-text-color: #ffc2e6;
    --text-color: #353430;
    --heading-color: #353430;
    --decorative-rec-element-color: #353430;
    --decorative-rec-color: transparent;
    --button-active-color: #353430;
    --menu-button-color: #353430;
    --menu-button-color-hover: #32312d66;
    --accent-color: #ff8dcb;
    --header-heading-color: #ffc2e6;
    --accent-color-background: #FF8DCB;
    --accent-text-color: #353430;
    --cover-image: url(../images/cover-image-light.png);
  }
}