.page {
  background-image: var(--cover-image);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 18px;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  justify-items: end;
  align-items: center;
  min-height: 668px;
  height: 100vh;
  padding: 10px;
}

@media (min-width: 768px) {
  
  .header {
    min-height: 1024px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {

  .header {
    min-height: 768px;
  }
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decorative-rec-element-color);
  border-right: 1px solid var(--decorative-rec-element-color);
  inline-size: 25px;
  block-size: 25px;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-left: 1px solid var(--decorative-rec-element-color);
  border-bottom: 1px solid var(--decorative-rec-element-color);
  inline-size: 25px;
  block-size: 25px;
  bottom: 10px;
  left: 10px;
}

.decorative-rec-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-start;
  margin: 2px 9px 0 0;
  gap: 10px;
  text-align: center;
  color: var(--decorative-rec-color);
  top: 10px;
  right: 10px;
}

.decorative-rec-icon::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
  background-color: var(--decorative-rec-color);
  inline-size: 9px;
  block-size: 9px;
}

@media (min-width: 768px) {

  .decorative-rec-icon {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

    .decorated-zone::after {
      bottom: 20px;
      left: 20px;
    }
}

.header__theme-menu {
  justify-self: end;
  min-width: 70px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-self: self-start;
  gap: 13px;
}

.header__theme-menu-item {
  text-align: center;
}

.header__theme-menu-button {
  border: none;
  background: transparent;
  color: var(--menu-button-color);
  outline: 1px solid transparent;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 18px;
  padding: 1.5px 13px;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--button-active-color);
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-button-color-hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--menu-button-color);
}

@media (min-width: 1024px) {
  
  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__theme-menu-button {
    padding: 3px 13px;
  }
}

.header__heading {
  color: var(--header-heading-color);
  align-self: self-start;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--accent-heading-mobile);
  line-height: 82.5%;
}

@media (min-width: 768px) {

  .header__heading {
    justify-self: start;
    margin-left: -20px;
  }
}

@media (min-width: 1024px) {
  .header__heading {
    font-size: var(--accent-heading-desktop);
  }
}

.header__text {
  justify-self: end;
  line-height: 130%;
  max-inline-size: 355px;
}

@media (min-width: 768px) {

  .header__text {
    max-inline-size: 364px;
  }
}

@media (min-width: 1024px) {
  .header__text {
    max-inline-size: 491px;
  }
}

.section-list {
  padding: 10px;
}

.section-content {
  display: grid;
  gap: 20px;
  margin-block-start: 30px;
}

.section-title {
  max-inline-size: 355px;
  line-height: 23.4px;
  font-size: 18px;
  font-weight: 700;
  color: var(--accent-color);
}

.card-text {
  margin: 10px 0 20px;
  line-height: 23.4px;
}

.section-cards {
  display: grid;
  align-items: start;
}

.section-cards-text {
  display: grid;
}

.how-list-title {
  font-weight: 400;
}

.how-section-title {
  margin-bottom: 20px;
}

.section-gallery {
  margin-block-start: 32px;
  margin-block-end: 27px;
}

.gallery-list { 
  display: flex; 
  flex-direction: column;
  margin-top: 10px;
  gap: 5px;
} 
 
.gallery-img { 
  object-fit: cover; 
  object-position: top; 
  width: 100%;
}

@media (min-width: 768px) {

  .section-content {
    grid-template-columns: 1fr 2fr;
  }

  .section-list {
    padding: 20px;
  }

  .section-why {
    margin-block-start: 40px;
  }

  .section-what {
    margin-block-start: 60px;
  }

  .section-what .section-cards {
    grid-column: span 2;
  }

  .section-how {
    margin-block-start: 60px;
  }

  .section-gallery {
    margin-block-start: 62px;
  }

  .gallery-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, fit-content(568px));
    row-gap: 20px;
    column-gap: 20px;
    margin-block-start: 20px;
  }

  .gallery-list-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery-list-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery-list-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery-list-item:last-child {
    grid-column: 2 / 4;
  }

  .gallery-img {
    block-size: 100%;
  }
}

@media (min-width: 1024px) {

  .section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto 1fr;
    gap: 20px;
  }

  .section-cards {
    grid-column: span 2;
  }

  .section-what {
    margin-block-start: 40px;
  }

  .section-what .section-cards {
    grid-column: 1 / -1;
    grid-row: 2 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .section-gallery {
    margin-block-start: 42px;
  }
}

.footer {
  display: grid;
  block-size: 100vh;
}

.footer__heading {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px var(--accent-color);
  font-size: var(--accent-heading-mobile);
  color: var(--footer-text-color);
}

@media (min-width: 1024px) {

  .footer__heading {
    font-size: var(--accent-heading-desktop);
  }
}

.accent-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--link-color);
}

.accent-link:hover {
  border-bottom: 1px solid;
}

.accent-link:focus {
 outline: none;
}

.accent-link:focus-visible {
  outline: 1px solid;
}

.title-decor {
  background-color: var(--accent-title-background-color);
  color: var(--accent-text-color);
  font-size: 18px;
}

.accented-text-bold {
  font-weight: 700;
}