.page {
  background-image: var(--cover-image);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #0000CD;
  padding: 10px;
  color: var(--text-color);
  font-size: 18px;
}

@media (min-width: 768px) {

  .page {
    padding: 20px;
  }
}

.header {
  display: grid;
  grid-template-rows: auto max-content auto;
  align-items: center;
  min-block-size: 668px;
}

.decorated-zone {
  min-block-size: 97vh;
  position: relative;
}

@media (min-width: 768px) {

  .decorated-zone {
    min-block-size: 96.4vh;
  }
}

@media (min-width: 1024px) {

  .decorated-zone {
    min-block-size: 94.7vh;
  }
}

.decorated-zone::before {
  content: "";
  position: absolute;
  border-top: 1px solid var(--decorative-rec-element-color);
  border-right: 1px solid var(--decorative-rec-element-color);
  inline-size: 25px;
  block-size: 25px;
  inset-inline-end: 0;
  inset-block-start: 0;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  border-left: 1px solid var(--decorative-rec-element-color);
  border-bottom: 1px solid var(--decorative-rec-element-color);
  inline-size: 25px;
  block-size: 25px;
  inset-block-end: 0;
}

.decorative-rec-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-self: flex-end;
  align-self: flex-start;
  margin: 2px 9px 0 0;
  gap: 10px;
  text-align: center;
  color: var(--decorative-rec-color);
}

.decorative-rec-icon::after {
  content: "";
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px;
  background-color: var(--decorative-rec-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: end;
  padding-block-start: 7px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  align-self: self-start;
  gap: 13px;
}

.header__theme-menu-item {
  text-align: center;
  padding-right: 9px;
}

.header__theme-menu-button {
  border: none;
  background: transparent;
  color: var(--menu-button-color);
  outline: 1px solid transparent;
  text-transform: lowercase;
  cursor: pointer;
  line-height: 100%;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-button-color-hover);
  outline-offset: 3px;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--menu-button-color);
}

@media (min-width: 768px) {

  .header__theme-menu {
    display: flex;
    padding-block-start: 13px;
    gap: 14px;
  }
}

@media (min-width: 1024px) {

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
    padding: 0;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 16px;
    padding-left: 10px;
  }
}

.header__heading {
  color: var(--header-heading-color);
  align-self: self-start;
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: var(--accent-heading-mobile);
  line-height: 83%;
  padding-block-start: 15px;
}

@media (min-width: 768px) {

  .header__heading {
    padding-block-start: 13px;
    margin: 0 0 0 -20px;
    font-size: var(--accent-heading-desktop);
  }
}

@media (min-width: 1024px) {

  .header__heading {
    padding: 0;
    padding-block-start: 50px;
  }
}

.header__text {
  max-inline-size: 364px;
  justify-self: end;
  line-height: 130%;
}

@media (min-width: 768px) {

  .header__text {
    max-inline-size: 364px;
  }
}

@media (min-width: 1024px) {

  .header__text {
    max-inline-size: 491px;
  }
}

.title-decor {
  background-color: var(--accent-color-background);
  color: var(--accent-text-color);
}

.section__why {
  margin-block-start: 50px;
}

@media (min-width: 768px) {

  .section__why {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
    margin-block-start: 78px;
  }
}

@media (min-width: 1024px) {

  .section__why {
    margin-block-start: 81px;
    grid-template-columns: 314px 1fr;
  }
}

.section__what {
  margin-block-start: 30px;
}

@media (min-width: 768px) {

  .section__what {
    margin-block-start: 62px;
  }

  .what-heading {
    max-inline-size: 236px;
  }
}

@media (min-width: 1024px) {

  .what-heading {
    max-inline-size: 315px;
  }

  .what__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
  }
}

.section__how {
  margin-block-start: 30px;
}

.how__list-title {
  font-weight: 400;
}

.how-list-heading {
  margin-block-end: 20px;
}

@media (min-width: 768px) {

  .section__how {
    display: grid;
    grid-template-columns: 236px 1fr;
    column-gap: 20px;
    margin-block-start: 60px;
  }

  .how-list-heading {
    margin-block-end: 20px;
  }
}


@media (min-width: 1024px) {

  .section__how {
    grid-template-columns: 315px 1fr;
  }
}

.section__gallery {
  margin: 31px 0 40px;
}

.gallery__list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  margin-block-start: 10px;
}

.gallery-img {
  inline-size: 100%;
}

@media (min-width: 768px) {

  .section__gallery {
    margin: 61px 0 60px;
  }
  
   .gallery__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, fit-content(568px));
    row-gap: 20px;
    column-gap: 20px;
    margin-block-start: 20px;
  }

  .gallery__list-item:nth-child(1) {
    grid-column: 1 / 3;
  }

  .gallery__list-item:nth-child(2) {
    grid-column: 3;
    grid-row: 1 / 3;
  }

  .gallery__list-item:nth-child(3) {
    grid-column: 1;
    grid-row: 2 / 4;
  }

  .gallery__list-item:last-child {
    grid-column: 2 / 4;
  }

  .gallery-img {
    object-fit: cover;
    object-position: top;
    block-size: 100%;
  }
}

.footer {
  display: grid;
}

.footer__heading {
  justify-self: center;
  align-self: center;
  text-shadow: 2px 2px var(--accent-color);
  font-size: var(--accent-heading-mobile);
  color: var(--footer-text-color);
}

@media (min-width: 768px) {

  .footer__heading {
    padding-block-start: 10px;
  }
}

@media (min-width: 1024px) {
  .footer__heading {
    font-size: var(--accent-heading-desktop);
  }
}

.h2-heading {
  padding: 0 0 20px;
  color: var(--heading-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 130%;
}

.h3-heading {
  font-size: 18px;
}

.paragraph-text {
  padding: 10px 0 20px;
  line-height: 130%;
}

.accented-text-bold {
  font-weight: 700;
}

.accent-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--link-color);
}

.accent-link:hover {
  border-bottom: 1px solid;
}

.accent-link:focus {
 outline: none;
}

.accent-link:focus-visible {
  outline: 1px solid;
}