:root {
  --accent-color-background: #ff0070;;
  --heading-color: #FF0070;
  --footer-text-color: #db00ff;
  --text-color: #f1b2ce;
  --link-color: #FF0070;
  --accent-text-color: #000028;
  --accent-color: #ff0070;
  --header-heading-color: #db00ff;
  --menu-button-color-hover: #ff007066;
  --menu-button-color: #ff0070;
  --decorative-rec-color: #FF0070;
  --main-font: 'IBM Plex Mono';
  --accent-heading-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --accent-heading-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  --cover-image: url(/images/cover-image-dark.png);
}